# 단일 컬럼 분석

### path & constant

In [1]:
# module

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [155]:
DATA_PATH = "../data/train_v2.csv"

## Load Data

In [156]:
train = pd.read_csv(DATA_PATH)
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 82 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1460 non-null   int64
 1   id                 1460 non-null   int64
 2   ms_subclass        1460 non-null   int64
 3   ms_zoning          1460 non-null   object
 4   lot_frontage       1201 non-null   float64
 5   lot_area           1460 non-null   int64
 6   street_access      1460 non-null   object
 7   alley              91 non-null     object
 8   lot_shape          1460 non-null   object
 9   land_contour       1460 non-null   object
 10  utilities          1460 non-null   object
 11  lot_config         1460 non-null   object
 12  land_slope         1460 non-null   object
 13  neighborhood       1460 non-null   object
 14  condition1         1460 non-null   object
 15  condition2         1460 non-null   object
 16  bldg_type          1460 non-null   object
 17  house_style        1460 non-null   object
 18  overall_qual       1460 non-null   int64
 19  overall_cond       1460 non-null   int64
 20  year_built         1460 non-null   int64
 21  year_remod_add     1460 non-null   int64
 22  roof_style         1460 non-null   object
 23  roof_matl          1460 non-null   object
 24  exterior_1st       1460 non-null   object
 25  exterior_2nd       1460 non-null   object
 26  mas_vnr_type       1460 non-null   object
 27  mas_vnr_area       1460 non-null   float64
 28  exter_qual         1460 non-null   object
 29  exter_cond         1460 non-null   object
 30  foundation         1460 non-null   object
 31  bsmt_qual          1423 non-null   object
 32  bsmt_cond          1423 non-null   object
 33  bsmt_exposure      1422 non-null   object
 34  bsmt_fin_type1     1423 non-null   object
 35  bsmt_fin_sf1       1460 non-null   int64
 36  bsmt_fin_type2     1422 non-null   object
 37  bsmt_fin_sf2       1460 non-null   int64
 38  bsmt_un_sf         1460 non-null   int64
 39  total_bsmt_sf      1460 non-null   int64
 40  heating            1460 non-null   object
 41  heating_qc         1460 non-null   object
 42  central_air        1460 non-null   object
 43  electrical         1459 non-null   object
 44  1st_flr_sf         1460 non-null   int64
 45  2nd_flr_sf         1460 non-null   int64
 46  low_qual_fin_sf    1460 non-null   int64
 47  gr_liv_area        1460 non-null   int64
 48  bsmt_full_bath     1460 non-null   int64
 49  bsmt_half_bath     1460 non-null   int64
 50  full_bath          1460 non-null   int64
 51  half_bath          1460 non-null   int64
 52  bedroom            1460 non-null   int64
 53  kitchen            1460 non-null   int64
 54  kitchen_qual       1460 non-null   object
 55  tot_rms_abv_grd    1460 non-null   int64
 56  functional         1460 non-null   object
 57  fireplaces         1460 non-null   int64
 58  fireplace_qual     770 non-null    object
 59  garage_type        1379 non-null   object
 60  garage_yr_built    1379 non-null   float64
 61  garage_finish      1379 non-null   object
 62  garage_cars        1460 non-null   int64
 63  garage_area        1460 non-null   int64
 64  garage_qual        1379 non-null   object
 65  garage_cond        1379 non-null   object
 66  paved_drive        1460 non-null   object
 67  wood_desk_sf       1460 non-null   int64
 68  open_porch_sf      1460 non-null   int64
 69  enclosed_porch_sf  1460 non-null   int64
 70  3ssn_porch_sf      1460 non-null   int64
 71  screen_porch_sf    1460 non-null   int64
 72  pool_area          1460 non-null   int64
 73  pool_qual          7 non-null      object
 74  fence_qual         281 non-null    object
 75  misc_feature       54 non-null     object
 76  misc_val           1460 non-null   int64
 77  mo_sold            1460 non-null   int64
 78  yr_sold            1460 non-null   int64
 79  sale_type          1460 non-null   object
 80  sale_cond          1460 non-null   object
 81  sale_price         1460 non-null   int64
dtypes: float64(3), int64(36), object(43)
memory usage: 935.4+ KB

### 수치형 or 범주형 컬럼 분류

In [4]:
columns = train.columns

c_i_list = [1 for _ in range(len(columns))]

integer_cols, categorical_cols = [], []

for idx, col in enumerate(columns):
    print(col, end="   ")
    print(train[col].dtype == np.dtype("object"))
    #print(f"컬럼명 : {col} // type : {train[col].dtype}")
    # type_ = train[col].dtype
    # if type_ == np.dtype("object"):
    #     c_i_list[idx] = 2
    #     categorical_cols.append(col)
    # else:
    #     integer_cols.append(col)
    
# integer_cols = columns - categorical_cols

# print(integer_cols)

# print()

# print(categorical_cols)

Id   False
MSSubClass   False
MSZoning   True
LotFrontage   False
LotArea   False
Street   True
Alley   True
LotShape   True
LandContour   True
Utilities   True
LotConfig   True
LandSlope   True
Neighborhood   True
Condition1   True
Condition2   True
BldgType   True
HouseStyle   True
OverallQual   False
OverallCond   False
YearBuilt   False
YearRemodAdd   False
RoofStyle   True
RoofMatl   True
Exterior1st   True
Exterior2nd   True
MasVnrType   True
MasVnrArea   False
ExterQual   True
ExterCond   True
Foundation   True
BsmtQual   True
BsmtCond   True
BsmtExposure   True
BsmtFinType1   True
BsmtFinSF1   False
BsmtFinType2   True
BsmtFinSF2   False
BsmtUnfSF   False
TotalBsmtSF   False
Heating   True
HeatingQC   True
CentralAir   True
Electrical   True
1stFlrSF   False
2ndFlrSF   False
LowQualFinSF   False
GrLivArea   False
BsmtFullBath   False
BsmtHalfBath   False
FullBath   False
HalfBath   False
BedroomAbvGr   False
KitchenAbvGr   False
KitchenQual   True
TotRmsAbvGrd   False
Functional   True
Fireplaces   False
FireplaceQu   True
GarageType   True
GarageYrBlt   False
GarageFinish   True
GarageCars   False
GarageArea   False
GarageQual   True
GarageCond   True
PavedDrive   True
WoodDeckSF   False
OpenPorchSF   False
EnclosedPorch   False
3SsnPorch   False
ScreenPorch   False
PoolArea   False
PoolQC   True
Fence   True
MiscFeature   True
MiscVal   False
MoSold   False
YrSold   False
SaleType   True
SaleCondition   True
SalePrice   False

## 단일 태그 분석 ID

In [5]:
train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [56]:
# 컬럼별 결측치 확인

train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1460 non-null   int64
 1   ms_subclass        1460 non-null   int64
 2   ms_zoning          1460 non-null   object
 3   lot_frontage       1201 non-null   float64
 4   lot_area           1460 non-null   int64
 5   street_access      1460 non-null   object
 6   alley              91 non-null     object
 7   lot_shape          1460 non-null   object
 8   land_contour       1460 non-null   object
 9   utilities          1460 non-null   object
 10  lot_config         1460 non-null   object
 11  land_slope         1460 non-null   object
 12  neighborhood       1460 non-null   object
 13  condition1         1460 non-null   object
 14  condition2         1460 non-null   object
 15  bldg_type          1460 non-null   object
 16  house_style        1460 non-null   object
 17  overall_qual       1460 non-null   int64
 18  overall_cond       1460 non-null   int64
 19  year_built         1460 non-null   int64
 20  year_remod_add     1460 non-null   int64
 21  roof_style         1460 non-null   object
 22  roof_matl          1460 non-null   object
 23  exterior_1st       1460 non-null   object
 24  exterior_2nd       1460 non-null   object
 25  mas_vnr_type       1452 non-null   object
 26  mas_vnr_area       1452 non-null   float64
 27  exter_qual         1460 non-null   object
 28  exter_cond         1460 non-null   object
 29  foundation         1460 non-null   object
 30  bsmt_qual          1423 non-null   object
 31  bsmt_cond          1423 non-null   object
 32  bsmt_exposure      1422 non-null   object
 33  bsmt_fin_type1     1423 non-null   object
 34  bsmt_fin_sf1       1460 non-null   int64
 35  bsmt_fin_type2     1422 non-null   object
 36  bsmt_fin_sf2       1460 non-null   int64
 37  bsmt_un_sf         1460 non-null   int64
 38  total_bsmt_sf      1460 non-null   int64
 39  heating            1460 non-null   object
 40  heating_qc         1460 non-null   object
 41  central_air        1460 non-null   object
 42  electrical         1459 non-null   object
 43  1st_flr_sf         1460 non-null   int64
 44  2nd_flr_sf         1460 non-null   int64
 45  low_qual_fin_sf    1460 non-null   int64
 46  gr_liv_area        1460 non-null   int64
 47  bsmt_full_bath     1460 non-null   int64
 48  bsmt_half_bath     1460 non-null   int64
 49  full_bath          1460 non-null   int64
 50  half_bath          1460 non-null   int64
 51  bedroom            1460 non-null   int64
 52  kitchen            1460 non-null   int64
 53  kitchen_qual       1460 non-null   object
 54  tot_rms_abv_grd    1460 non-null   int64
 55  functional         1460 non-null   object
 56  fireplaces         1460 non-null   int64
 57  fireplace_qual     770 non-null    object
 58  garage_type        1379 non-null   object
 59  garage_yr_built    1379 non-null   float64
 60  garage_finish      1379 non-null   object
 61  garage_cars        1460 non-null   int64
 62  garage_area        1460 non-null   int64
 63  garage_qual        1379 non-null   object
 64  garage_cond        1379 non-null   object
 65  paved_drive        1460 non-null   object
 66  wood_desk_sf       1460 non-null   int64
 67  open_porch_sf      1460 non-null   int64
 68  enclosed_porch_sf  1460 non-null   int64
 69  3ssn_porch_sf      1460 non-null   int64
 70  screen_porch_sf    1460 non-null   int64
 71  pool_area          1460 non-null   int64
 72  pool_qual          7 non-null      object
 73  fence_qual         281 non-null    object
 74  misc_feature       54 non-null     object
 75  misc_val           1460 non-null   int64
 76  mo_sold            1460 non-null   int64
 77  yr_sold            1460 non-null   int64
 78  sale_type          1460 non-null   object
 79  sale_cond          1460 non-null   object
 80  sale_price         1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

### columns : id

기본 id 정보

In [6]:
# Id : 
train["Id"]

0          1
1          2
2          3
3          4
4          5
        ...
1455    1456
1456    1457
1457    1458
1458    1459
1459    1460
Name: Id, Length: 1460, dtype: int64

### Column : MSSubClass


- 20: 1층, 1946년 이후의 모든 스타일
- 30: 1층, 1945년 이전
- 40: 1층, 완성된 다락방이 있는 모든 연령
- 45: 1.5층, 미완성된 모든 연령
- 50: 1.5층, 완성된 모든 연령
- 60: 2층, 1946년 이후
- 70: 2층, 1945년 이전
- 75: 2.5층, 모든 연령
- 80: 분리형 또는 다중 수준
- 85: 스플릿 포이어
- 90: 듀플렉스 - 모든 스타일과 연령
- 120: 1층 PUD (Planned Unit Development) - 1946년 이후
- 150: 1.5층 PUD - 모든 연령
- 160: 2층 PUD - 1946년 이후
- 180: PUD - 다중 수준 - 스플릿 레벨/포이어 포함
- 190: 2가구 전환 - 모든 스타일과 연령

In [7]:
train["MSSubClass"].value_counts()

20     536
60     299
50     144
120     87
30      69
160     63
70      60
80      58
90      52
190     30
85      20
75      16
45      12
180     10
40       4
Name: MSSubClass, dtype: int64

### Column : MSZoning

판매의 일반적인 용도 구역을 식별합니다.

- A: 농업
- C: 상업
- FV: 플로팅 빌리지 주거
- I: 산업
- RH: 고밀도 주거
- RL: 저밀도 주거
- RP: 저밀도 주거 공원
- RM: 중밀도 주거

In [8]:
train["MSZoning"].value_counts()

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

### column : LotFrontage

부동산에 연결된 거리의 직선 피트

In [9]:
train["LotFrontage"].describe()

count    1201.000000
mean       70.049958
std        24.284752
min        21.000000
25%        59.000000
50%        69.000000
75%        80.000000
max       313.000000
Name: LotFrontage, dtype: float64

In [10]:
train[train["LotFrontage"].isna()]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
12,13,20,RL,NaN,12968,Pave,NaN,IR2,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,144000
14,15,20,RL,NaN,10920,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,5,2008,WD,Normal,157000
16,17,20,RL,NaN,11241,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,700,3,2010,WD,Normal,149000
24,25,20,RL,NaN,8246,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,5,2010,WD,Normal,154000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,1430,20,RL,NaN,12546,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2007,WD,Normal,182900
1431,1432,120,RL,NaN,4928,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,143750
1441,1442,120,RM,NaN,4426,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2008,WD,Normal,149300
1443,1444,30,RL,NaN,8854,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,121000
1446,1447,20,RL,NaN,26142,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,157900

### LotArea : 집크기

In [11]:
train["LotArea"].describe()

count      1460.000000
mean      10516.828082
std        9981.264932
min        1300.000000
25%        7553.500000
50%        9478.500000
75%       11601.500000
max      215245.000000
Name: LotArea, dtype: float64

### Street : 집과 Street 사이의 도로 접근 유형

- Grvl : 자갈
- Pave : 포장도로

In [12]:
train["Street"].value_counts()

Pave    1454
Grvl       6
Name: Street, dtype: int64

### Alley : 집에서 골목 접근 유형

- Grvl: 자갈
- Pave: 포장
- NA: 골목 접근 없음

In [13]:
train["Alley"].value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [14]:
train[train["Alley"].isna() == False]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
21,22,45,RM,57.0,7449,Pave,Grvl,Reg,Bnk,AllPub,...,0,NaN,GdPrv,NaN,0,6,2007,WD,Normal,139400
30,31,70,C (all),50.0,8500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2008,WD,Normal,40000
56,57,160,FV,24.0,2645,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2009,WD,Abnorml,172500
79,80,50,RM,60.0,10440,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,5,2009,WD,Normal,110000
87,88,160,FV,40.0,3951,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,New,Partial,164500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,1405,50,RL,60.0,10410,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,1,2006,WD,Family,105000
1414,1415,50,RL,64.0,13053,Pave,Pave,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,207000
1427,1428,50,RL,60.0,10930,Pave,Grvl,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Normal,140000
1432,1433,30,RL,60.0,10800,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,64500
1454,1455,20,FV,62.0,7500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,185000

### LotShape : 집의 일반적인 모양

- Reg: 정규
- IR1: 약간 불규칙
- IR2: 중간 불규칙
- IR3: 불규칙

In [15]:
train["LotShape"].value_counts()

Reg    925
IR1    484
IR2     41
IR3     10
Name: LotShape, dtype: int64

In [16]:
train[train["LotShape"].isna()]

Empty DataFrame
Columns: [Id, MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice]
Index: []

[0 rows x 81 columns]

### LandContour : 부동산의 평탄도.


- Lvl: 평평함
- Bnk: 도로 등급에서 건물까지 빠르고 큰 상승
- HLS: 측면에서 측면으로 상당한 경사
- Low: 함

In [17]:
train["LandContour"].value_counts()

Lvl    1311
Bnk      63
HLS      50
Low      36
Name: LandContour, dtype: int64

### Utilities : 사용 가능한 공공시설 유형.

- AllPub: 모든 공공시설 (전기, 가스, 수도, 하수)
- NoSewr: 전기, 가스, 수도 (정화조)
- NoSeWa: 전기 및 가스만
- ELO: 전기만

In [18]:
train["Utilities"].value_counts()

AllPub    1459
NoSeWa       1
Name: Utilities, dtype: int64

### LotConfig : 부지 구성.


- Inside: 내부 부지
- Corner: 모서리 부지
- CulDSac: 막다른 골목
- FR2: 부지의 양쪽이 도로에 접함
- FR3: 부지의 세쪽이 도로에 접함

In [19]:
train["LotConfig"].value_counts()

Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: LotConfig, dtype: int64

In [20]:
train[train["Alley"].isna() == False]["LotConfig"].value_counts()

Inside    76
Corner    15
Name: LotConfig, dtype: int64

### LandSlope : 부지의 경사.


- Gtl: 완만한 경사
- Mod: 중간 경사
- Sev: 심한 경사

In [21]:
train["LandSlope"].value_counts()

Gtl    1382
Mod      65
Sev      13
Name: LandSlope, dtype: int64

In [22]:
train[train["LandSlope"] != "Gtl"]["LandContour"].value_counts()

Low    27
HLS    18
Lvl    17
Bnk    16
Name: LandContour, dtype: int64

### Neighborhood : 에임스 시내 경계 내의 물리적 위치.


- Blmngtn: 블루밍턴 하이츠
- Blueste: 블루스템
- BrDale: 브리어데일
- BrkSide: 브룩사이드
- ClearCr: 클리어 크릭
- CollgCr: 컬리지 크릭
- Crawfor: 크로퍼드
- Edwards: 에드워즈
- Gilbert: 길버트
- IDOTRR: 아이오와 DOT와 철도
- MeadowV: 메도우 빌리지
- Mitchel: 미첼
- Names: 노스 에임스
- NoRidge: 노스리지
- NPkVill: 노스파크 빌라
- NridgHt: 노스리지 하이츠
- NWAmes: 노스웨스트 에임스
- OldTown: 올드 타운
- SWISU: 아이오와 주립대학교 남서쪽
- Sawyer: 소여
- SawyerW: 소여 웨스트
- Somerst: 서머셋
- StoneBr: 스톤 브룩
- Timber: 팀버랜드
- Veenker: 빈커

In [23]:
train["Neighborhood"].value_counts()

NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
MeadowV     17
Blmngtn     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: Neighborhood, dtype: int64

### Condition1 : 다양한 조건에 대한 근접성.

- Artery: 간선 도로에 인접
- Feedr: 보조 도로에 인접
- Norm: 정상
- RRNn: 북-남 철도로부터 200피트 이내
- RRAn: 북-남 철도에 인접
- PosN: 긍정적 외부 요소 근처 (공원, 그린벨트 등)
- PosA: 긍정적 외부 요소에 인접
- RRNe: 동-서 철도로부터 200피트 이내
- RRAe: 동-서 철도에 인접

In [24]:
train["Condition1"].value_counts()

Norm      1260
Feedr       81
Artery      48
RRAn        26
PosN        19
RRAe        11
PosA         8
RRNn         5
RRNe         2
Name: Condition1, dtype: int64

### Condition2 : 다양한 조건에 대한 근접성 (여러 조건이 있는 경우).


- Artery: 간선 도로에 인접
- Feedr: 보조 도로에 인접
- Norm: 정상
- RRNn: 북-남 철도로부터 200피트 이내
- RRAn: 북-남 철도에 인접
- PosN: 긍정적 외부 요소 근처 (공원, 그린벨트 등)
- PosA: 긍정적 외부 요소에 인접
- RRNe: 동-서 철도로부터 200피트 이내
- RRAe: 동-서 철도에 인접

In [25]:
train["Condition2"].value_counts()

Norm      1445
Feedr        6
Artery       2
RRNn         2
PosN         2
PosA         1
RRAn         1
RRAe         1
Name: Condition2, dtype: int64

In [26]:
# condition 1 condition2는 동일 하다. 

train[train["Condition1"] == "Norm"]["Condition2"].value_counts()

Norm    1260
Name: Condition2, dtype: int64

### BldgType : 주거 유형.

- 1Fam: 단독 주택
- 2FmCon: 2가구 전환; 원래 1가구로 건축됨
- Duplx: 듀플렉스
- TwnhsE: 타운하우스 끝 유닛
- TwnhsI: 타운하우스 내부 유닛

In [27]:
train["BldgType"].value_counts()

1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: BldgType, dtype: int64

In [28]:
# 데이터에 오타? 
train[train["BldgType"] == "Twnhs"]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
56,57,160,FV,24.0,2645,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2009,WD,Abnorml,172500
75,76,180,RM,21.0,1596,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,11,2009,WD,Normal,91000
145,146,160,RM,24.0,2522,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,130000
180,181,160,FV,NaN,2117,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2007,WD,Normal,177000
193,194,160,RM,24.0,2522,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2006,WD,Normal,130000
195,196,160,RL,24.0,2280,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,148500
225,226,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,COD,Abnorml,112000
227,228,160,RM,21.0,1869,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,106000
232,233,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,94500
282,283,120,RL,34.0,5063,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2009,ConLw,Normal,207500
348,349,160,RL,36.0,2448,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2008,WD,Normal,154000
363,364,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,118000
430,431,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2008,COD,Abnorml,85400
434,435,180,RM,21.0,1890,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,81000
483,484,120,RM,32.0,4500,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2006,WD,Normal,164000
489,490,180,RM,21.0,1526,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,86000
500,501,160,RM,21.0,1890,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,113000
599,600,160,RM,24.0,1950,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,7,2008,COD,Normal,151000
631,632,120,RL,34.0,4590,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,209500
649,650,180,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,12,2007,WD,Normal,84500
655,656,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2010,WD,Family,88000
675,676,160,RL,24.0,2289,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2009,WD,Normal,148500
758,759,160,FV,24.0,2280,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2008,WD,Normal,179400
829,830,160,FV,24.0,2544,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Normal,147400
837,838,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2008,WD,Normal,100000
915,916,160,RM,21.0,2001,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2007,WD,Normal,75000
959,960,160,FV,24.0,2572,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,155000
971,972,160,RL,36.0,2268,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,173000
975,976,160,FV,NaN,2651,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,165000
1029,1030,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2006,WD,Normal,118000
1038,1039,160,RM,21.0,1533,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,WD,Normal,97000
1042,1043,120,RL,34.0,5381,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2009,WD,Normal,196000
1088,1089,160,RM,24.0,2522,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,137500
1091,1092,160,FV,24.0,2160,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2008,WD,Normal,160000
1157,1158,120,RL,34.0,5001,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2009,WD,Normal,230000
1160,1161,160,RL,24.0,2280,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2010,WD,Normal,146000
1191,1192,160,FV,24.0,2645,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2007,WD,Normal,174000
1219,1220,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml,91500
1236,1237,160,RL,36.0,2628,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,175500
1291,1292,160,RM,21.0,1680,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2009,WD,Normal,119500
1358,1359,160,FV,NaN,2117,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,177500
1378,1379,160,RM,21.0,1953,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2006,WD,Normal,83000
1449,1450,180,RM,21.0,1533,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2006,WD,Abnorml,92000

### HouseStyle : 주거 스타일.


- 1Story: 1층
- 1.5Fin: 1.5층, 2층 완성
- 1.5Unf: 1.5층, 2층 미완성
- 2Story: 2층
- 2.5Fin: 2.5층, 2층 완성
- 2.5Unf: 2.5층, 2층 미완성
- SFoyer: 스플릿 포이어
- SLvl: 스플릿 레벨

### OverallQual : 집의 전반적인 재질 및 마감 평가.


- 10: 매우 우수
- 9: 우수
- 8: 매우 좋음
- 7: 좋음
- 6: 평균 이상
- 5: 평균
- 4: 평균 이하
- 3: 공정
- 2: 불량
- 1: 매우 불량

In [48]:
train["overall_qual"].value_counts()

5     397
6     374
7     319
8     168
4     116
9      43
3      20
10     18
2       3
1       2
Name: overall_qual, dtype: int64

### OverallCond: 집의 전반적인 상태 평가.


- 10: 매우 우수
- 9: 우수
- 8: 매우 좋음
- 7: 좋음
- 6: 평균 이상
- 5: 평균
- 4: 평균 이하
- 3: 공정
- 2: 불량
- 1: 매우 불량

In [49]:
train["overall_cond"].value_counts()

5    821
6    252
7    205
8     72
4     57
3     25
9     22
2      5
1      1
Name: overall_cond, dtype: int64

### YearBuilt: 최초 건축 연도

In [50]:
train["year_built"].describe()

count    1460.000000
mean     1971.267808
std        30.202904
min      1872.000000
25%      1954.000000
50%      1973.000000
75%      2000.000000
max      2010.000000
Name: year_built, dtype: float64

### YearRemodAdd: 리모델링 연도 (리모델링이나 추가 사항이 없는 경우 건축 연도와 동일).

In [51]:
train["year_remod_add"].describe()

count    1460.000000
mean     1984.865753
std        20.645407
min      1950.000000
25%      1967.000000
50%      1994.000000
75%      2004.000000
max      2010.000000
Name: year_remod_add, dtype: float64

### RoofStyle: 지붕 스타일.


- Flat: 평평한
- Gable: 박공지붕
- Gambrel: 갬브렐 (헛간 형태)
- Hip: 힙 지붕
- Mansard: 맨사드 지붕
- Shed: 셰드 지붕

### RoofMatl: 지붕 재질.


- ClyTile: 점토 타일
- CompShg: 표준 (복합) 싱글
- Membran: 멤브레인
- Metal: 금속
- Roll: 롤
- Tar&Grv: 자갈 & 타르
- WdShake: 목재 쉐이크
- WdShngl: 목재 싱글

### Exterior1st: 집의 외부 덮개.


- AsbShng: 석면 싱글
- AsphShn: 아스팔트 싱글
- BrkComm: 일반 벽돌
- BrkFace: 벽돌 면
- CBlock: 시멘트 블록
- CemntBd: 시멘트 보드
- HdBoard: 하드 보드
- ImStucc: 모조 스터코
- MetalSd: 금속 사이딩
- Other: 기타
- Plywood: 합판
- PreCast: 프리캐스트
- Stone: 돌
- Stucco: 스터코
- VinylSd: 비닐 사이딩
- Wd Sdng: 목재 사이딩
- WdShing: 목재 싱글

### MasVnrType: 벽돌 베니어 유형.


- BrkCmn: 일반 벽돌
- BrkFace: 벽돌 면
- CBlock: 시멘트 블록
- None: 없음
- Stone: 돌

In [67]:
train["mas_vnr_type"].value_counts()

None       872
BrkFace    445
Stone      128
BrkCmn      15
Name: mas_vnr_type, dtype: int64

In [53]:
train[train["mas_vnr_type"].isna()]

,id,ms_subclass,ms_zoning,lot_frontage,lot_area,street_access,alley,lot_shape,land_contour,utilities,...,pool_area,pool_qual,fence_qual,misc_feature,misc_val,mo_sold,yr_sold,sale_type,sale_cond,sale_price
234,235,60,RL,NaN,7851,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,216500
529,530,20,RL,NaN,32668,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2007,WD,Alloca,200624
650,651,60,FV,65.0,8125,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2008,WD,Normal,205950
936,937,20,RL,67.0,10083,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2009,WD,Normal,184900
973,974,20,FV,95.0,11639,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,New,Partial,182000
977,978,120,FV,35.0,4274,Pave,Pave,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2007,New,Partial,199900
1243,1244,20,RL,107.0,13891,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2006,New,Partial,465000
1278,1279,60,RL,75.0,9473,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,3,2008,WD,Normal,237000

### MasVnrArea: 벽돌 베니어 면적 (제곱 피트).

In [55]:
train[train["mas_vnr_area"].isna()][["mas_vnr_type", "mas_vnr_area"]]

     mas_vnr_type  mas_vnr_area
234           NaN           NaN
529           NaN           NaN
650           NaN           NaN
936           NaN           NaN
973           NaN           NaN
977           NaN           NaN
1243          NaN           NaN
1278          NaN           NaN

In [64]:
indexes = train[train["mas_vnr_area"].isna()].index

print(indexes)

train["mas_vnr_area"]= train["mas_vnr_area"].fillna(0)
train["mas_vnr_type"]=train["mas_vnr_type"].fillna("None")

Int64Index([234, 529, 650, 936, 973, 977, 1243, 1278], dtype='int64')

In [65]:
train[["mas_vnr_type", "mas_vnr_area"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mas_vnr_type  1460 non-null   object
 1   mas_vnr_area  1460 non-null   float64
dtypes: float64(1), object(1)
memory usage: 22.9+ KB

In [66]:
train["mas_vnr_area"].describe()

count    1460.000000
mean      103.117123
std       180.731373
min         0.000000
25%         0.000000
50%         0.000000
75%       164.250000
max      1600.000000
Name: mas_vnr_area, dtype: float64

### ExterQual: 외부 재질의 품질 평가.


- Ex: 우수
- Gd: 좋음
- TA: 평균/일반
- Fa: 공정
- Po: 불량

### ExterCond: 외부 재질의 현재 상태 평가.


- Ex: 우수
- Gd: 좋음
- TA: 평균/일반
- Fa: 공정
- Po: 불량

### Foundation: 기초 유형.


- BrkTil: 벽돌 및 타일
- CBlock: 시멘트 블록
- PConc: 콘크리트 타설
- Slab: 슬래브
- Stone: 돌
- Wood: 목재

### BsmtQual : 지하실 높이 평가.

- Ex: 우수 (100인치 이상)
- Gd: 좋음 (90-99인치)
- TA: 일반 (80-89인치)
- Fa: 공정 (70-79인치)
- Po: 불량 (<70인치)
- NA: 지하실 없음

In [68]:
# bsmt qual cond exposure 관련 결측치 확인

train[["bsmt_qual", "bsmt_cond", "bsmt_exposure"]].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   bsmt_qual      1423 non-null   object
 1   bsmt_cond      1423 non-null   object
 2   bsmt_exposure  1422 non-null   object
dtypes: object(3)
memory usage: 34.3+ KB

In [74]:
idx = train[(train["bsmt_cond"].isna()) & (train["bsmt_qual"].isna())].index

idx2 = train[train["bsmt_exposure"].isna()].index

set(idx2) - set(idx)

{948}

In [78]:
train.iloc[948][["bsmt_cond", "bsmt_qual","bsmt_exposure"]]

bsmt_cond         TA
bsmt_qual         Gd
bsmt_exposure    NaN
Name: 948, dtype: object

### BsmtCond: 지하실의 전반적인 상태 평가.


- Ex: 우수
- Gd: 좋음
- TA: 일반 - 약간의 습기 허용
- Fa: 공정 - 습기 또는 약간의 균열이나 침하
- Po: 불량 - 심한 균열, 침하 또는 습기
- NA: 지하실 없음

### BsmtExposure: 지하실 노출 여부.


- Gd: 좋은 노출
- Av: 평균 노출 (분리 수준 또는 포이어가 일반적으로 평균 이상 점수)
- Mn: 최소 노출
- No: 노출 없음
- NA: 지하실 없음

### BsmtFinType1: 지하실 마감 구역의 평가.

- GLQ: 좋은 거주 구역
- ALQ: 평균 거주 구역
- BLQ: 평균 이하 거주 구역
- Rec: 평균 레크리에이션 룸
- LwQ: 저품질
- Unf: 미완성
- NA: 지하실 없음

In [81]:
train["bsmt_fin_type1"].iloc[idx2]

17      NaN
39      NaN
90      NaN
102     NaN
156     NaN
182     NaN
259     NaN
342     NaN
362     NaN
371     NaN
392     NaN
520     NaN
532     NaN
533     NaN
553     NaN
646     NaN
705     NaN
736     NaN
749     NaN
778     NaN
868     NaN
894     NaN
897     NaN
948     Unf
984     NaN
1000    NaN
1011    NaN
1035    NaN
1045    NaN
1048    NaN
1049    NaN
1090    NaN
1179    NaN
1216    NaN
1218    NaN
1232    NaN
1321    NaN
1412    NaN
Name: bsmt_fin_type1, dtype: object

### BsmtFinSF1 : 유형 1 마감된 지하실 면적 (제곱 피트).

In [84]:
train["bsmt_fin_sf1"].describe()

count    1460.000000
mean      443.639726
std       456.098091
min         0.000000
25%         0.000000
50%       383.500000
75%       712.250000
max      5644.000000
Name: bsmt_fin_sf1, dtype: float64

### BsmtFinType2: 지하실 마감 구역의 평가 (여러 유형이 있는 경우).


- GLQ: 좋은 거주 구역
- ALQ: 평균 거주 구역
- BLQ: 평균 이하 거주 구역
- Rec: 평균 레크리에이션 룸
- LwQ: 저품질
- Unf: 미완성
- NA: 지하실 없음

In [89]:
idx3 = train[train["bsmt_fin_type2"].isna()].index

set(idx3) - set(idx)

{332}

In [91]:
train.iloc[332][["bsmt_qual","bsmt_cond","bsmt_exposure","bsmt_fin_type1"]]

bsmt_qual          Gd
bsmt_cond          TA
bsmt_exposure      No
bsmt_fin_type1    GLQ
Name: 332, dtype: object

### BsmtFinSF2: 유형 2 마감된 지하실 면적 (제곱 피트).


### BsmtUnfSF: 미완성된 지하실 면적 (제곱 피트).

In [97]:

except_idx = list(set([i for i in range(1460)]) - set(idx))


train.iloc[except_idx]["bsmt_un_sf"].describe()

count    1423.000000
mean      581.989459
std       437.877643
min         0.000000
25%       247.500000
50%       490.000000
75%       814.500000
max      2336.000000
Name: bsmt_un_sf, dtype: float64


### TotalBsmtSF: 지하실 총 면적 (제곱 피트).

In [98]:
train.iloc[except_idx]["total_bsmt_sf"].describe()

count    1423.000000
mean     1084.924104
std       409.413709
min       105.000000
25%       810.500000
50%      1004.000000
75%      1309.500000
max      6110.000000
Name: total_bsmt_sf, dtype: float64

### Heating: 난방 유형.


- Floor: 바닥 난방
- GasA: 가스 강제 온풍 난방
- GasW: 가스 온수 또는 증기 난방
- Grav: 중력 난방
- OthW: 가스를 제외한 온수 또는 증기 난방
- Wall: 벽난방

### HeatingQC: 난방 품질 및 상태 평가.


- Ex: 우수
- Gd: 좋음
- TA: 평균/일반
- Fa: 공정
- Po: 불량

### CentralAir: 중앙 에어컨.


- N: 아니오
- Y: 예

### Electrical: 전기 시스템.


- SBrkr: 표준 차단기 및 로멕스 배선
- FuseA: 60 AMP 이상의 퓨즈 박스와 모든 로멕스 배선 (평균)
- FuseF: 60 AMP 퓨즈 박스와 대부분 로멕스 배선 (공정)
- FuseP: 60 AMP 퓨즈 박스와 대부분 노브 및 튜브 배선 (불량)
- Mix: 혼합

In [103]:
train[train["electrical"].isna()]

,id,ms_subclass,ms_zoning,lot_frontage,lot_area,street_access,alley,lot_shape,land_contour,utilities,...,pool_area,pool_qual,fence_qual,misc_feature,misc_val,mo_sold,yr_sold,sale_type,sale_cond,sale_price
1379,1380,80,RL,73.0,9735,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2008,WD,Normal,167500

### 1stFlrSF: 1층 면적 (제곱 피트).

### 2ndFlrSF: 2층 면적 (제곱 피트).

### LowQualFinSF: 저품질 마감된 면적 (모든 층).

### GrLivArea: 지상 생활 면적 (제곱 피트).

### BsmtFullBath: 지하실 완전 욕실 수.

In [104]:
train["bsmt_full_bath"].value_counts()

0    856
1    588
2     15
3      1
Name: bsmt_full_bath, dtype: int64

### BsmtHalfBath: 지하실 반 욕실 수.

In [105]:
train["bsmt_half_bath"].value_counts()

0    1378
1      80
2       2
Name: bsmt_half_bath, dtype: int64

In [110]:
train[train["bsmt_half_bath"]==0]["bsmt_full_bath"].value_counts()

0    783
1    579
2     15
3      1
Name: bsmt_full_bath, dtype: int64

### FullBath: 지상 완전 욕실 수.

In [111]:
train["full_bath"].value_counts()

2    768
1    650
3     33
0      9
Name: full_bath, dtype: int64

### HalfBath: 지상 반 욕실 수.

In [112]:
train["half_bath"].value_counts()

0    913
1    535
2     12
Name: half_bath, dtype: int64

In [113]:
train[train["full_bath"] == 0][["half_bath", "bsmt_full_bath", "bsmt_half_bath"]]

      half_bath  bsmt_full_bath  bsmt_half_bath
53            1               2               0
188           2               2               0
375           1               1               0
597           2               0               2
634           0               2               0
916           0               1               0
1163          2               2               0
1213          0               1               1
1270          1               2               0

### Bedroom: 지상의 침실 수 (지하실 침실 제외).

In [114]:
train["bedroom"].value_counts()

3    804
2    358
4    213
1     50
5     21
6      7
0      6
8      1
Name: bedroom, dtype: int64


### Kitchen: 지상의 주방 수.

In [115]:
train["kitchen"].value_counts()

1    1392
2      65
3       2
0       1
Name: kitchen, dtype: int64

### KitchenQual: 주방 품질.


- Ex: 우수
- Gd: 좋음
- TA: 평균/일반
- Fa: 공정
- Po: 불량

In [116]:
# 주방이 없는 주택의 주방 품질은 무엇인가?

train[train["kitchen"] == 0]["kitchen_qual"]

954    TA
Name: kitchen_qual, dtype: object

In [117]:
train[train["kitchen_qual"] == "TA"]["kitchen"].value_counts()

1    675
2     57
3      2
0      1
Name: kitchen, dtype: int64

In [119]:
train.loc[954,"kitchen"] = 1

### TotRmsAbvGrd: 지상의 총 방 수 (욕실 제외).

In [120]:
train["tot_rms_abv_grd"].value_counts()

6     402
7     329
5     275
8     187
4      97
9      75
10     47
11     18
3      17
12     11
2       1
14      1
Name: tot_rms_abv_grd, dtype: int64

In [122]:
train[train["bedroom"]==0]["tot_rms_abv_grd"]

53      5
189     5
634     4
1163    6
1213    3
1270    4
Name: tot_rms_abv_grd, dtype: int64

### Functional: 집의 기능성 (특별한 결함이 없다고 가정).


- Typ: 일반 기능성
- Min1: 경미한 결함 1
- Min2: 경미한 결함 2
- Mod: 중간 결함
- Maj1: 주요 결함 1
- Maj2: 주요 결함 2
- Sev: 심각한 손상
- Sal: 구조적으로 손상됨

### Fireplaces: 벽난로 수.

In [123]:
train["fireplaces"].value_counts()

0    690
1    650
2    115
3      5
Name: fireplaces, dtype: int64

### FireplaceQu: 벽난로 품질.


- Ex: 우수 - 특별한 벽돌 벽난로
- Gd: 좋음 - 주요 층에 있는 벽돌 벽난로
- TA: 평균 - 주요 생활 구역에 있는 조립식 벽난로 또는 지하실에 있는 벽돌 벽난로
- Fa: 공정 - 지하실에 있는 조립식 벽난로
- Po: 불량 - 벤 프랭클린 스토브
- NA: 벽난로 없음

In [126]:
train[train["fireplace_qual"].isna()]

,id,ms_subclass,ms_zoning,lot_frontage,lot_area,street_access,alley,lot_shape,land_contour,utilities,...,pool_area,pool_qual,fence_qual,misc_feature,misc_val,mo_sold,yr_sold,sale_type,sale_cond,sale_price
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
10,11,20,RL,70.0,11200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,129500
12,13,20,RL,NaN,12968,Pave,NaN,IR2,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,144000
15,16,45,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,NaN,0,7,2007,WD,Normal,132000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452,1453,180,RM,35.0,3675,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2006,WD,Normal,145000
1453,1454,20,RL,90.0,17217,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Abnorml,84500
1454,1455,20,FV,62.0,7500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,185000
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

### GarageType: 차고 타입.


- 2Types: 둘 이상의 유형의 차고
- Attchd: 집에 부착된 차고
- Basment: 지하 차고
- BuiltIn: 집의 일부로 건축된 차고 - 일반적으로 차고 위에 방이 있음
- CarPort: 차고
- Detchd: 집에서 분리된 차고
- NA: 차고 없음

In [127]:
train[train["garage_type"].isna()]

,id,ms_subclass,ms_zoning,lot_frontage,lot_area,street_access,alley,lot_shape,land_contour,utilities,...,pool_area,pool_qual,fence_qual,misc_feature,misc_val,mo_sold,yr_sold,sale_type,sale_cond,sale_price
39,40,90,RL,65.0,6040,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,AdjLand,82000
48,49,190,RM,33.0,4456,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,New,Partial,113000
78,79,90,RL,72.0,10778,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,136500
88,89,50,C (all),105.0,8470,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,10,2009,ConLD,Abnorml,85000
89,90,20,RL,60.0,8070,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,123600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,1350,70,RM,50.0,5250,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,122000
1407,1408,20,RL,NaN,8780,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2009,WD,Normal,112000
1449,1450,180,RM,21.0,1533,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2006,WD,Abnorml,92000
1450,1451,90,RL,60.0,9000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2009,WD,Normal,136000
1453,1454,20,RL,90.0,17217,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Abnorml,84500

### GarageYrBlt: 차고 건축 연도.

In [128]:
train["garage_yr_built"].describe()

count    1379.000000
mean     1978.506164
std        24.689725
min      1900.000000
25%      1961.000000
50%      1980.000000
75%      2002.000000
max      2010.000000
Name: garage_yr_built, dtype: float64

In [129]:
train[(train["garage_yr_built"].isna() & train["garage_type"].isna())]

,id,ms_subclass,ms_zoning,lot_frontage,lot_area,street_access,alley,lot_shape,land_contour,utilities,...,pool_area,pool_qual,fence_qual,misc_feature,misc_val,mo_sold,yr_sold,sale_type,sale_cond,sale_price
39,40,90,RL,65.0,6040,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,AdjLand,82000
48,49,190,RM,33.0,4456,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,New,Partial,113000
78,79,90,RL,72.0,10778,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,136500
88,89,50,C (all),105.0,8470,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,10,2009,ConLD,Abnorml,85000
89,90,20,RL,60.0,8070,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,123600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,1350,70,RM,50.0,5250,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,122000
1407,1408,20,RL,NaN,8780,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,3,2009,WD,Normal,112000
1449,1450,180,RM,21.0,1533,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2006,WD,Abnorml,92000
1450,1451,90,RL,60.0,9000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2009,WD,Normal,136000
1453,1454,20,RL,90.0,17217,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Abnorml,84500

### GarageFinish: 차고 내부 마감.


- Fin: 완성
- RFn: 대략 완성
- Unf: 미완성
- NA: 차고 없음

    
### GarageCars :차고 크기 (차량 수용량).

In [133]:
non_garage_idx = train[train["garage_type"].isna()].index

train.iloc[non_garage_idx]["garage_cars"].value_counts()

0    81
Name: garage_cars, dtype: int64

In [135]:
except_idx = list(set([i for i in range(1460)]) - set(non_garage_idx))

train.iloc[except_idx]["garage_cars"].value_counts()

2    824
1    369
3    181
4      5
Name: garage_cars, dtype: int64

### GarageArea: 차고 면적 (제곱 피트).

In [134]:

train.iloc[non_garage_idx]["garage_area"].value_counts()

0    81
Name: garage_area, dtype: int64

In [136]:
train.iloc[except_idx]["garage_area"].describe()

count    1379.000000
mean      500.762146
std       185.680520
min       160.000000
25%       380.000000
50%       484.000000
75%       580.000000
max      1418.000000
Name: garage_area, dtype: float64

### GarageQual: 차고 품질.


- Ex: 우수
- Gd: 좋음
- TA: 평균/일반
- Fa: 공정
- Po: 불량
- NA: 차고 없음

### GarageCond : 차고 상태.


- Ex: 우수
- Gd: 좋음
- TA: 평균/일반
- Fa: 공정
- Po: 불량
- NA: 차고 없음

### PavedDrive : 포장된 진입로.


- Y: 포장
- P: 부분 포장
- N: 흙/자갈

### WoodDeckSF: 목재 데크 면적 (제곱 피트).

In [139]:
train[train["wood_desk_sf"] != 0]["wood_desk_sf"].describe()

count    699.000000
mean     196.848355
std      112.299729
min       12.000000
25%      120.000000
50%      171.000000
75%      240.000000
max      857.000000
Name: wood_desk_sf, dtype: float64


### OpenPorchSF: 개방된 현관 면적 (제곱 피트).

In [140]:
train[train["open_porch_sf"] != 0]["open_porch_sf"].describe()

count    804.000000
mean      84.731343
std       68.893171
min        4.000000
25%       39.000000
50%       63.000000
75%      112.000000
max      547.000000
Name: open_porch_sf, dtype: float64

### EnclosedPorch: 폐쇄된 현관 면적 (제곱 피트).

In [141]:
train[train["enclosed_porch_sf"] != 0]["enclosed_porch_sf"].describe()

count    208.000000
mean     154.100962
std       76.596215
min       19.000000
25%      104.250000
50%      144.500000
75%      205.000000
max      552.000000
Name: enclosed_porch_sf, dtype: float64

### 3SsnPorch: 3계절 현관 면적 (제곱 피트).

In [142]:
train[train["3ssn_porch_sf"] != 0]["3ssn_porch_sf"].describe()

count     24.000000
mean     207.416667
std      101.825049
min       23.000000
25%      150.750000
50%      180.000000
75%      239.750000
max      508.000000
Name: 3ssn_porch_sf, dtype: float64


### ScreenPorch: 스크린 현관 면적 (제곱 피트).

In [143]:
train[train["screen_porch_sf"] != 0]["screen_porch_sf"].describe()

count    116.000000
mean     189.560345
std       77.952191
min       40.000000
25%      143.750000
50%      180.000000
75%      224.000000
max      480.000000
Name: screen_porch_sf, dtype: float64


### PoolArea: 수영장 면적 (제곱 피트).

In [144]:
train[train["pool_area"] != 0]["pool_area"]

197     512
810     648
1170    576
1182    555
1298    480
1386    519
1423    738
Name: pool_area, dtype: int64

### PoolQC: 수영장 품질.


- Ex: 우수
- Gd: 좋음
- TA: 평균/일반
- Fa: 공정
- NA: 수영장 없음

### Fence: 울타리 품질.


- GdPrv: 좋은 프라이버시
- MnPrv: 최소한의 프라이버시
- GdWo: 좋은 목재
- MnWw: 최소한의 목재/와이어
- NA: 울타리 없음

In [147]:
train[train["fence_qual"].isna()].count()

id              1179
ms_subclass     1179
ms_zoning       1179
lot_frontage     973
lot_area        1179
                ...
mo_sold         1179
yr_sold         1179
sale_type       1179
sale_cond       1179
sale_price      1179
Length: 81, dtype: int64

### MiscFeature: 다른 카테고리에서 다루지 않는 기타 기능.


- Elev: 엘리베이터
- Gar2: 2번째 차고 (차고 섹션에 설명되지 않은 경우)
- Othr: 기타
- Shed: 창고 (100 제곱 피트 이상)
- TenC: 테니스 코트
- NA: 없음

In [153]:
train[train["misc_val"]!=0]["misc_feature"].value_counts()

Shed    48
Gar2     2
Othr     1
TenC     1
Name: misc_feature, dtype: int64

### MiscVal: 기타 기능의 $가치.

In [152]:
train[train["misc_val"]!=0][["misc_feature","misc_val"]]

     misc_feature  misc_val
5            Shed       700
7            Shed       350
16           Shed       700
17           Shed       500
51           Shed       400
84           Shed       700
95           Shed       480
98           Shed       400
99           Shed       400
106          Shed       450
214          Shed       450
249          Shed       500
250          Shed       450
335          Shed       700
338          Shed       400
346          Gar2     15500
392          Shed      1200
439          Shed       800
499          Shed       480
502          Shed       400
510          Shed      2000
539          Shed      2000
589          Shed       600
611          Shed       500
626          Shed       600
634          Shed       600
705          Othr      3500
725          Shed       500
733          Shed       400
760          Shed       450
766          Shed       500
767          Shed      1300
786          Shed      1200
794          Shed       500
800          Shed       400
812          Shed        54
813          Shed       500
867          Shed       400
878          Shed       400
890          Shed      2000
912          Shed       620
953          Shed       400
1061         Shed       560
1076         Shed       500
1083         Shed       700
1171         Shed      1400
1210         Shed       400
1230         Gar2      8300
1252         Shed       600
1328         Shed      1150
1386         TenC      2000
1457         Shed      2500

### MoSold: 판매 월 (MM).


### YrSold: 판매 연도 (YYYY).

### SaleType: 판매 유형.


- WD: 보증 증서 - 일반
- CWD: 보증 증서 - 현금
- VWD: 보증 증서 - VA 대출
- New: 새로 지어진 집
- COD: 법원 공무원 증서/유산
- Con: 계약 15% 선불, 일반 조건
- ConLw: 계약 저액 선불 및 저금리
- ConLI: 계약 저금리
- ConLD: 계약 저액 선불
- Oth: 기타

### SaleCondition: 판매 조건.


- Normal: 정상 판매
- Abnorml: 비정상 판매 - 교환, 차압, 단기 매각
- AdjLand: 인접 토지 구매
- Alloca: 배분 - 별도의 증서를 가진 두 개의 연결된 부동산, 일반적으로 차고 유닛이 있는 콘도
- Family: 가족 간의 판매
- Partial: 마지막 평가 시 완료되지 않은 집 (신규 주택과 관련)

## 전체적으로 category와 integer를 나눠 분석

In [29]:
import json

with open("./cols_name.json", "r") as f:
    dict_ = json.load(f)

cols_name_dict = dict_["columns_name"]

category_cols = dict_["category"]

integer_cols = dict_["integer"]

In [30]:
len(cols_name_dict.keys()), len(category_cols), len(integer_cols)

(81, 49, 31)

In [31]:
set(cols_name_dict.values()) - (set(category_cols).union(set(integer_cols)))

{'id'}

In [32]:
train.rename(columns=cols_name_dict, inplace=True)

train.columns

Index(['id', 'ms_subclass', 'ms_zoning', 'lot_frontage', 'lot_area',
       'street_access', 'alley', 'lot_shape', 'land_contour', 'utilities',
       'lot_config', 'land_slope', 'neighborhood', 'condition1', 'condition2',
       'bldg_type', 'house_style', 'overall_qual', 'overall_cond',
       'year_built', 'year_remod_add', 'roof_style', 'roof_matl',
       'exterior_1st', 'exterior_2nd', 'mas_vnr_type', 'mas_vnr_area',
       'exter_qual', 'exter_cond', 'foundation', 'bsmt_qual', 'bsmt_cond',
       'bsmt_exposure', 'bsmt_fin_type1', 'bsmt_fin_sf1', 'bsmt_fin_type2',
       'bsmt_fin_sf2', 'bsmt_un_sf', 'total_bsmt_sf', 'heating', 'heating_qc',
       'central_air', 'electrical', '1st_flr_sf', '2nd_flr_sf',
       'low_qual_fin_sf', 'gr_liv_area', 'bsmt_full_bath', 'bsmt_half_bath',
       'full_bath', 'half_bath', 'bedroom', 'kitchen', 'kitchen_qual',
       'tot_rms_abv_grd', 'functional', 'fireplaces', 'fireplace_qual',
       'garage_type', 'garage_yr_built', 'garage_finish', 'garage_cars',
       'garage_area', 'garage_qual', 'garage_cond', 'paved_drive',
       'wood_desk_sf', 'open_porch_sf', 'enclosed_porch_sf', '3ssn_porch_sf',
       'screen_porch_sf', 'pool_area', 'pool_qual', 'fence_qual',
       'misc_feature', 'misc_val', 'mo_sold', 'yr_sold', 'sale_type',
       'sale_cond', 'sale_price'],
      dtype='object')

In [33]:
set_ca, set_in = set(category_cols), set(integer_cols)

str_ = "#" * 40

for col in train.columns:
    print(str_)
    print(f"col_name : {col}")
    
    if col in set_ca:
        print("value_counts")
        print(train[col].value_counts())
        
    elif col in set_in:
        print("describe")
        print(train[col].describe())
        
    print(str_, end="\n\n")

########################################
col_name : id
########################################

########################################
col_name : ms_subclass
value_counts
20     536
60     299
50     144
120     87
30      69
160     63
70      60
80      58
90      52
190     30
85      20
75      16
45      12
180     10
40       4
Name: ms_subclass, dtype: int64
########################################

########################################
col_name : ms_zoning
value_counts
RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: ms_zoning, dtype: int64
########################################

########################################
col_name : lot_frontage
describe
count    1201.000000
mean       70.049958
std        24.284752
min        21.000000
25%        59.000000
50%        69.000000
75%        80.000000
max       313.000000
Name: lot_frontage, dtype: float64
########################################

########################################
col_name : lot_area
describe
count      1460.000000
mean      10516.828082
std        9981.264932
min        1300.000000
25%        7553.500000
50%        9478.500000
75%       11601.500000
max      215245.000000
Name: lot_area, dtype: float64
########################################

########################################
col_name : street_access
value_counts
Pave    1454
Grvl       6
Name: street_access, dtype: int64
########################################

########################################
col_name : alley
value_counts
Grvl    50
Pave    41
Name: alley, dtype: int64
########################################

########################################
col_name : lot_shape
value_counts
Reg    925
IR1    484
IR2     41
IR3     10
Name: lot_shape, dtype: int64
########################################

########################################
col_name : land_contour
value_counts
Lvl    1311
Bnk      63
HLS      50
Low      36
Name: land_contour, dtype: int64
########################################

########################################
col_name : utilities
value_counts
AllPub    1459
NoSeWa       1
Name: utilities, dtype: int64
########################################

########################################
col_name : lot_config
value_counts
Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: lot_config, dtype: int64
########################################

########################################
col_name : land_slope
value_counts
Gtl    1382
Mod      65
Sev      13
Name: land_slope, dtype: int64
########################################

########################################
col_name : neighborhood
value_counts
NAmes      225
CollgCr    150
OldTown    113
Edwards    100
Somerst     86
Gilbert     79
NridgHt     77
Sawyer      74
NWAmes      73
SawyerW     59
BrkSide     58
Crawfor     51
Mitchel     49
NoRidge     41
Timber      38
IDOTRR      37
ClearCr     28
StoneBr     25
SWISU       25
MeadowV     17
Blmngtn     17
BrDale      16
Veenker     11
NPkVill      9
Blueste      2
Name: neighborhood, dtype: int64
########################################

########################################
col_name : condition1
value_counts
Norm      1260
Feedr       81
Artery      48
RRAn        26
PosN        19
RRAe        11
PosA         8
RRNn         5
RRNe         2
Name: condition1, dtype: int64
########################################

########################################
col_name : condition2
value_counts
Norm      1445
Feedr        6
Artery       2
RRNn         2
PosN         2
PosA         1
RRAn         1
RRAe         1
Name: condition2, dtype: int64
########################################

########################################
col_name : bldg_type
value_counts
1Fam      1220
TwnhsE     114
Duplex      52
Twnhs       43
2fmCon      31
Name: bldg_type, dtype: int64
########################################

########################################
col_name : house_style
value_counts
1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: house_style, dtype: int64
########################################

########################################
col_name : overall_qual
describe
count    1460.000000
mean        6.099315
std         1.382997
min         1.000000
25%         5.000000
50%         6.000000
75%         7.000000
max        10.000000
Name: overall_qual, dtype: float64
########################################

########################################
col_name : overall_cond
describe
count    1460.000000
mean        5.575342
std         1.112799
min         1.000000
25%         5.000000
50%         5.000000
75%         6.000000
max         9.000000
Name: overall_cond, dtype: float64
########################################

########################################
col_name : year_built
value_counts
2006    67
2005    64
2004    54
2007    49
2003    45
        ..
1875     1
1911     1
1917     1
1872     1
1905     1
Name: year_built, Length: 112, dtype: int64
########################################

########################################
col_name : year_remod_add
value_counts
1950    178
2006     97
2007     76
2005     73
2004     62
       ...
2010      6
1986      5
1952      5
1983      5
1951      4
Name: year_remod_add, Length: 61, dtype: int64
########################################

########################################
col_name : roof_style
value_counts
Gable      1141
Hip         286
Flat         13
Gambrel      11
Mansard       7
Shed          2
Name: roof_style, dtype: int64
########################################

########################################
col_name : roof_matl
value_counts
CompShg    1434
Tar&Grv      11
WdShngl       6
WdShake       5
Metal         1
Membran       1
Roll          1
ClyTile       1
Name: roof_matl, dtype: int64
########################################

########################################
col_name : exterior_1st
value_counts
VinylSd    515
HdBoard    222
MetalSd    220
Wd Sdng    206
Plywood    108
CemntBd     61
BrkFace     50
WdShing     26
Stucco      25
AsbShng     20
BrkComm      2
Stone        2
AsphShn      1
ImStucc      1
CBlock       1
Name: exterior_1st, dtype: int64
########################################

########################################
col_name : exterior_2nd
value_counts
VinylSd    504
MetalSd    214
HdBoard    207
Wd Sdng    197
Plywood    142
CmentBd     60
Wd Shng     38
Stucco      26
BrkFace     25
AsbShng     20
ImStucc     10
Brk Cmn      7
Stone        5
AsphShn      3
Other        1
CBlock       1
Name: exterior_2nd, dtype: int64
########################################

########################################
col_name : mas_vnr_type
value_counts
None       864
BrkFace    445
Stone      128
BrkCmn      15
Name: mas_vnr_type, dtype: int64
########################################

########################################
col_name : mas_vnr_area
describe
count    1452.000000
mean      103.685262
std       181.066207
min         0.000000
25%         0.000000
50%         0.000000
75%       166.000000
max      1600.000000
Name: mas_vnr_area, dtype: float64
########################################

########################################
col_name : exter_qual
value_counts
TA    906
Gd    488
Ex     52
Fa     14
Name: exter_qual, dtype: int64
########################################

########################################
col_name : exter_cond
value_counts
TA    1282
Gd     146
Fa      28
Ex       3
Po       1
Name: exter_cond, dtype: int64
########################################

########################################
col_name : foundation
value_counts
PConc     647
CBlock    634
BrkTil    146
Slab       24
Stone       6
Wood        3
Name: foundation, dtype: int64
########################################

########################################
col_name : bsmt_qual
value_counts
TA    649
Gd    618
Ex    121
Fa     35
Name: bsmt_qual, dtype: int64
########################################

########################################
col_name : bsmt_cond
value_counts
TA    1311
Gd      65
Fa      45
Po       2
Name: bsmt_cond, dtype: int64
########################################

########################################
col_name : bsmt_exposure
value_counts
No    953
Av    221
Gd    134
Mn    114
Name: bsmt_exposure, dtype: int64
########################################

########################################
col_name : bsmt_fin_type1
value_counts
Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
Name: bsmt_fin_type1, dtype: int64
########################################

########################################
col_name : bsmt_fin_sf1
describe
count    1460.000000
mean      443.639726
std       456.098091
min         0.000000
25%         0.000000
50%       383.500000
75%       712.250000
max      5644.000000
Name: bsmt_fin_sf1, dtype: float64
########################################

########################################
col_name : bsmt_fin_type2
value_counts
Unf    1256
Rec      54
LwQ      46
BLQ      33
ALQ      19
GLQ      14
Name: bsmt_fin_type2, dtype: int64
########################################

########################################
col_name : bsmt_fin_sf2
describe
count    1460.000000
mean       46.549315
std       161.319273
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max      1474.000000
Name: bsmt_fin_sf2, dtype: float64
########################################

########################################
col_name : bsmt_un_sf
describe
count    1460.000000
mean      567.240411
std       441.866955
min         0.000000
25%       223.000000
50%       477.500000
75%       808.000000
max      2336.000000
Name: bsmt_un_sf, dtype: float64
########################################

########################################
col_name : total_bsmt_sf
describe
count    1460.000000
mean     1057.429452
std       438.705324
min         0.000000
25%       795.750000
50%       991.500000
75%      1298.250000
max      6110.000000
Name: total_bsmt_sf, dtype: float64
########################################

########################################
col_name : heating
value_counts
GasA     1428
GasW       18
Grav        7
Wall        4
OthW        2
Floor       1
Name: heating, dtype: int64
########################################

########################################
col_name : heating_qc
value_counts
Ex    741
TA    428
Gd    241
Fa     49
Po      1
Name: heating_qc, dtype: int64
########################################

########################################
col_name : central_air
value_counts
Y    1365
N      95
Name: central_air, dtype: int64
########################################

########################################
col_name : electrical
value_counts
SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: electrical, dtype: int64
########################################

########################################
col_name : 1st_flr_sf
describe
count    1460.000000
mean     1162.626712
std       386.587738
min       334.000000
25%       882.000000
50%      1087.000000
75%      1391.250000
max      4692.000000
Name: 1st_flr_sf, dtype: float64
########################################

########################################
col_name : 2nd_flr_sf
describe
count    1460.000000
mean      346.992466
std       436.528436
min         0.000000
25%         0.000000
50%         0.000000
75%       728.000000
max      2065.000000
Name: 2nd_flr_sf, dtype: float64
########################################

########################################
col_name : low_qual_fin_sf
describe
count    1460.000000
mean        5.844521
std        48.623081
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       572.000000
Name: low_qual_fin_sf, dtype: float64
########################################

########################################
col_name : gr_liv_area
describe
count    1460.000000
mean     1515.463699
std       525.480383
min       334.000000
25%      1129.500000
50%      1464.000000
75%      1776.750000
max      5642.000000
Name: gr_liv_area, dtype: float64
########################################

########################################
col_name : bsmt_full_bath
describe
count    1460.000000
mean        0.425342
std         0.518911
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         3.000000
Name: bsmt_full_bath, dtype: float64
########################################

########################################
col_name : bsmt_half_bath
describe
count    1460.000000
mean        0.057534
std         0.238753
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         2.000000
Name: bsmt_half_bath, dtype: float64
########################################

########################################
col_name : full_bath
describe
count    1460.000000
mean        1.565068
std         0.550916
min         0.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         3.000000
Name: full_bath, dtype: float64
########################################

########################################
col_name : half_bath
describe
count    1460.000000
mean        0.382877
std         0.502885
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         2.000000
Name: half_bath, dtype: float64
########################################

########################################
col_name : bedroom
describe
count    1460.000000
mean        2.866438
std         0.815778
min         0.000000
25%         2.000000
50%         3.000000
75%         3.000000
max         8.000000
Name: bedroom, dtype: float64
########################################

########################################
col_name : kitchen
describe
count    1460.000000
mean        1.046575
std         0.220338
min         0.000000
25%         1.000000
50%         1.000000
75%         1.000000
max         3.000000
Name: kitchen, dtype: float64
########################################

########################################
col_name : kitchen_qual
value_counts
TA    735
Gd    586
Ex    100
Fa     39
Name: kitchen_qual, dtype: int64
########################################

########################################
col_name : tot_rms_abv_grd
describe
count    1460.000000
mean        6.517808
std         1.625393
min         2.000000
25%         5.000000
50%         6.000000
75%         7.000000
max        14.000000
Name: tot_rms_abv_grd, dtype: float64
########################################

########################################
col_name : functional
value_counts
Typ     1360
Min2      34
Min1      31
Mod       15
Maj1      14
Maj2       5
Sev        1
Name: functional, dtype: int64
########################################

########################################
col_name : fireplaces
describe
count    1460.000000
mean        0.613014
std         0.644666
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         3.000000
Name: fireplaces, dtype: float64
########################################

########################################
col_name : fireplace_qual
value_counts
Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: fireplace_qual, dtype: int64
########################################

########################################
col_name : garage_type
value_counts
Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: garage_type, dtype: int64
########################################

########################################
col_name : garage_yr_built
value_counts
2005.0    65
2006.0    59
2004.0    53
2003.0    50
2007.0    49
          ..
1927.0     1
1900.0     1
1906.0     1
1908.0     1
1933.0     1
Name: garage_yr_built, Length: 97, dtype: int64
########################################

########################################
col_name : garage_finish
value_counts
Unf    605
RFn    422
Fin    352
Name: garage_finish, dtype: int64
########################################

########################################
col_name : garage_cars
describe
count    1460.000000
mean        1.767123
std         0.747315
min         0.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         4.000000
Name: garage_cars, dtype: float64
########################################

########################################
col_name : garage_area
describe
count    1460.000000
mean      472.980137
std       213.804841
min         0.000000
25%       334.500000
50%       480.000000
75%       576.000000
max      1418.000000
Name: garage_area, dtype: float64
########################################

########################################
col_name : garage_qual
value_counts
TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: garage_qual, dtype: int64
########################################

########################################
col_name : garage_cond
value_counts
TA    1326
Fa      35
Gd       9
Po       7
Ex       2
Name: garage_cond, dtype: int64
########################################

########################################
col_name : paved_drive
value_counts
Y    1340
N      90
P      30
Name: paved_drive, dtype: int64
########################################

########################################
col_name : wood_desk_sf
describe
count    1460.000000
mean       94.244521
std       125.338794
min         0.000000
25%         0.000000
50%         0.000000
75%       168.000000
max       857.000000
Name: wood_desk_sf, dtype: float64
########################################

########################################
col_name : open_porch_sf
describe
count    1460.000000
mean       46.660274
std        66.256028
min         0.000000
25%         0.000000
50%        25.000000
75%        68.000000
max       547.000000
Name: open_porch_sf, dtype: float64
########################################

########################################
col_name : enclosed_porch_sf
describe
count    1460.000000
mean       21.954110
std        61.119149
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       552.000000
Name: enclosed_porch_sf, dtype: float64
########################################

########################################
col_name : 3ssn_porch_sf
describe
count    1460.000000
mean        3.409589
std        29.317331
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       508.000000
Name: 3ssn_porch_sf, dtype: float64
########################################

########################################
col_name : screen_porch_sf
describe
count    1460.000000
mean       15.060959
std        55.757415
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       480.000000
Name: screen_porch_sf, dtype: float64
########################################

########################################
col_name : pool_area
describe
count    1460.000000
mean        2.758904
std        40.177307
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max       738.000000
Name: pool_area, dtype: float64
########################################

########################################
col_name : pool_qual
value_counts
Gd    3
Ex    2
Fa    2
Name: pool_qual, dtype: int64
########################################

########################################
col_name : fence_qual
value_counts
MnPrv    157
GdPrv     59
GdWo      54
MnWw      11
Name: fence_qual, dtype: int64
########################################

########################################
col_name : misc_feature
value_counts
Shed    49
Gar2     2
Othr     2
TenC     1
Name: misc_feature, dtype: int64
########################################

########################################
col_name : misc_val
describe
count     1460.000000
mean        43.489041

In [34]:
set_in - set(train.columns)

set()

In [154]:
# column 명 바꾼 train data 저장
train.to_csv("../data/train_v2.csv")

In [44]:
def func(x):
    if x in set_in:
        return "integer"
    else:
        return "category"

In [47]:
col_df = pd.DataFrame()
col_df["column_name"], col_df["new_column_name"] = cols_name_dict.keys(), cols_name_dict.values()

col_df["in_ca"] = col_df["new_column_name"].apply(func)

col_df.to_csv("../data/column.csv")